<div class="col-sm-12">
     <div class="author-desc">
        <div class="blog-image">
            <img src="/images/henrik.jpg">
        </div>
        <h2 id = "introduction-author-title" class="side-bar-title">KIRJOITTAJAN NIMI</h2>
         <p class = "fi-description">
         jotain tekstiä tässä 
         <br>jotain tekstiä tässä
         <br>jotain tekstiä tässä</p>
    </div>
	<p id = "author-last-post">KIRJOITTAJAN VIIMEISIMMÄT</p>
</div>