<div class="col-sm-12">
     <div class="about-me-wrapper">
        <div class="blog-image">
            <img src="<%=blog.authorImage%>">
        </div>
		<span class="about-me">About</span>
        <h3 class= "side-bar-title"><%=blog.author%></h3>
		 <p class = "fi-description"><%-blog.authorDescription%></p>
		 <a href="/author-page" title="" class="author-link text-orange">Lisää kirjoittajalta</a>
		 </div>
</div>