<div class="col-sm-12">
		<div class="blog-post-wrapper">
		   <div class="blog-image">
			   <img src="<%=blog.image%>">
			   <!--<div class="social-media"></div>-->
			   </div>
		   <p class="post-stamps">Julkaistu - <%=blog.publishdate%></p>
		   <span class="divider"></span>
		   <h2 class="blog-post-title"><%=blog.title%></h2>
		   <div class="post-body">
			   
			   <p><%-blog.content%></p>
			   
		   </div>
		   
		</div>
   </div>