<div class="col-sm-12">
    <div class="category-list">
        <ul id="categories">
            <li class="category">
                <a href="/blog-page">Yksi</a>
            </li>
            <li class="category">
                <a href="/blog-page">Kaksi</a>
            </li>
            <li class="category">
                <a href="/blog-page">Kolme</a>
            </li>
            <li class="category">
                <a href="/blog-page">Nelj채</a>
            </li>
            <li class="category">
                <a href="/blog-page">Viisi</a>
            </li>
            <li class="category">
                <a href="/blog-page">Kuusi</a>
            </li>
            <li class="category">
                <a href="/blog-page">Seitsem채n</a>
            </li>
            <li class="category">
                <a href="/blog-page">Kahdeksan</a>
            </li>
            <li class="category">
                <a href="/blog-page">Yhdeks채n</a>
            </li>
            <li class="category">
                <a href="/blog-page">Kymmenen</a>
            </li>
            <li class="category">
                <a href="/blog-page">Yksitoista</a>
            </li>
            <li class="category">
                <a href="/blog-page">Kaksitoista</a>
            </li>
            <li class="category">
                <a href="/blog-page">Kolmetoista</a>
            </li>
            <li class="category">
                <a href="/blog-page">Nelj채toista</a>
            </li>
        </ul>
    </div>
</div>