<!-- views/partials/footer.ejs -->

<div class="container-fluid footer-divider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>TURUN AMMATTIKORKEAKOULU</h3>
                <p>Joukahaisenkatu 3</p>
                <p>20520 Turku</p>
            </div>
            <div class="col-sm-3">
                <h3>Veneta Stefanova</h3>
                <a href="mailto:">veneta.stefanova@edu.turkuamk.fi</a>
                <p>+358123456789</p>
                <h3>Toni Sipari</h3>
                <a href="mailto:">toni.sipari@edu.turkuamk.fi</a>
                <p>+358123456789</p>
            </div>
            <div class="col-sm-3">
                <h3>Tiina Virtanen</h3>
                <a href="mailto:">tiina.virtanen@edu.turkuamk.fi</a>
                <p>+358123456789</p>
                <h3>Emmi-Kaisa Roivas</h3>
                <a href="mailto:emmikaisa.roivas@edu.turkuamk.fi">emmikaisa.roivas@edu.turkuamk.fi</a>
                <p>+358400868419</p>
            </div>
        </div>
    </div>
</div>

