<div class="col-sm-12">
    <div class="newsletter-box text-white">
        <div class="newsletter-box-title bg-orange">
            <h3 id="subscribe-title">Tilaa blogin uutiskirje</h3>
        </div>
        <div class="newsletter-box-body">
            <p>Tilaa blogin uutiskirje ja pysy ajan tasalla uusista blogikirjoituksista!</p>
        </div>
    </div>
</div>