<div class="container-fluid header">
    <div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <a id="link-title" href="/blog-posts/1">           
                <h1 id="title" class="text-white">BLOGI</h1>
            </a>
        </div>
    </div>
    </div>
</div>