<!-- views/pages/blog-page.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container-fluid">

<header>
    <% include partials/header %>
    <% include partials/titleheader %>
</header>
    
<div class="row container">
    <div class="col-sm-6">
            <div class="row about-us">
                <img class="about-image" src="/images/placeh.jpg">
                <h1 class="our-name">Veneta Stefanova</h1>
                <p>Esittelyteksti</p>
            </div>
    </div>
    <div class="col-sm-6">
        <div class="row about-us">
            <img class="about-image" src="/images/placeh.jpg">
            <h1 class="our-name">Toni Sipari</h1>
            <p>Esittelyteksti</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row about-us">
            <img class="about-image" src="/images/placeh.jpg">
            <h1 class="our-name">Tiina Virtanen</h1>
            <p>Esittelyteksti</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row about-us">
            <img class="about-image" src="/images/placeh.jpg">
            <h1 class="our-name">Emmi-Kaisa Roivas</h1>
            <p>Esittelyteksti</p>
        </div>
    </div>
</div>

<footer class="container-fluid footer">
    <% include partials/footer %>
</footer>

</body>
</html>
